Flask==2.3.3
flask_socketio==5.3.6
eventlet==0.33.3           # Needed for async support with flask_socketio
gunicorn==23.0.0           # For production WSGI server
Flask-Login==0.6.3         # Optional: if handling user auth
Flask-Mail==0.10.0         # Optional: if sending emails
Flask-Migrate==4.1.0       # For DB migrations
Flask-SQLAlchemy==3.1.1    # ORM
Flask-WTF==1.2.2           # For forms
python-dotenv==1.1.0       # To load env vars in dev
SQLAlchemy==2.0.40         # Core SQL support
WTForms==3.2.1             # Required by Flask-WTF
